name: Build, Test, and Publish

on:
  push:
    tags: ["v*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all history to access tags
          filter: tree:0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.0.x
            9.0.x
            8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Test
        run: dotnet test --no-build --configuration Release -- --filter-query "/[Category!=Integration]" --ignore-exit-code 8

      - name: Pack
        run: dotnet pack --no-build --configuration Release

      - name: Publish Packages
        env:
          NUGET_SOURCE: https://api.nuget.org/v3/index.json
        run: |
          dotnet nuget push src/GeminiDotnet/bin/Release/*.nupkg --source $NUGET_SOURCE --api-key ${{ secrets.NUGET_API_KEY }}
          dotnet nuget push src/GeminiDotnet.Extensions.AI/bin/Release/*.nupkg --source $NUGET_SOURCE --api-key ${{ secrets.NUGET_API_KEY }}
